<%= turbo_frame_tag comment do %>
  <p><%= comment.content %></p>
  <p>
    <small>
      <%= comment.user.email %>
      &middot;
       <%= comment.created_time_ago %>
    </small>
  </p>
<% end %>
