<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<%= link_to 'New Post', new_user_post_path(current_user) %>

<ul>
    <% @posts.each do |post| %>
      <li>
        <big>
          <%= link_to post.content, [post.user, post] %> 
        </big>
        <small><%= post.user.email %></small>
      </li>
    <% end %>
</ul>
