<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<div class="new-post">
  <%= turbo_frame_tag 'new_post', src: new_user_post_path(current_user), target: '_top' %>
</div>

<ul id="posts">
  <%= render @posts %>
</ul>
