<li>
  <span class="content">
    <%= link_to post.content, [post.user, post] %> 
  </span>
  <span class="author"><%= post.user.email %></span>
  <span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago</span>
</li>
