<p id="notice"><%= notice %></p>

<h2><%= @poster.email %></h2>

<% if @poster == current_user %>
  <%= link_to 'New Post', new_user_post_path(current_user) %>
<% end %>

<ul>
    <% @posts.each do |post| %>
      <li>
        <big>
          <%= link_to post.content, [post.user, post] %> 
        </big>
      </li>
    <% end %>
</ul>
