// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  display: flex;
}

.post-item {
  margin-bottom: 0.25rem;
}

.content {
  font-size: 1rem;
}

.content-info {
  font-size: 0.75rem;
  color: grey;
}

.comments {
  margin-top: 2rem;
}
